{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <h3 class="mb-4">Delete Comment</h3>
        {% if user.is_authenticated %}
        {% if comment.author.id == user.id %}
        <p>Article: <strong>"{{ article.title }}"</strong></p>
        <p><strong>Your comment:</strong></p>
        <p>{{ comment.body }}</p>
        <p class="alert alert-danger mt-4">Are you sure you want to delete your comment shown above?</p>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'article_detail' article.slug %}">Cancel</a>
            <button type="submit" class="btn btn-primary">Confirm Deletion</button>
        </form>
        {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            Access denied. You are not the author of the comment you're attempting to modify.
        </div>
        <a class="btn btn-primary" href="{% url 'article_detail' comment.article.slug %}">&laquo; Back to Article</a>
        {% endif %}
        {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            Access denied. You have to be logged in order to modify comments.
        </div>
        <a class="btn btn-primary" href="{% url 'article_detail' comment.article.slug %}">&laquo; Back to Article</a>
        {% endif %}
    </div>
</div>

{%endblock%}